@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

body
{
    color: #444;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding:0;
}

table
{
    border-spacing: 0px;
    width:100%;
}
table tr th
{
    border-bottom:1px solid #ffffff;
    background-color:#e0e0e0;
    padding:5px;
}
table tr td
{
    border-bottom:1px solid #dedede;
    padding:10px;
    font-size:13px;
    line-height:16px;
    vertical-align:top;
}
tr:nth-child(even)
{ 
    background-color: #f7f7f7; 
}
a
{
    display:block;
    padding:5px;
    text-decoration:none;
    color:white;
    border-radius:2px;
}

#contenedor
{
  width: 98%;
  min-width: 1024px;
}
#campo-filtros
{
    margin: 10px 0 20px 0;

    legend
    {
        border: none;
        color: #444;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }
}
#contenedor
{
	min-width: 1024px;

	#contenido
    {
		#campo-busqueda
        {
			#buscar-boton
            {
                background: #ec9f48;
                color: white;
                font-size: 18px;
            }
		}

	}
}
#header
{
    background-color: #00b4e1;
    margin: 0 0 30px 0;
    
    h1
    {
        font-weight: 700;
        margin: 0;
        padding: 1vh 0;
    }
    p
    {
        font-size: 18px;
    }
    .navbar
    {
        margin: 0;
    }
    .navbar-default
    {
        background-color: transparent;
        border-color: transparent;
        color: white;
    }
}
.num
{
    width: 2%;
}
.codigo 
{
    width: 6%;
}
.numero_ley
{
    width: 4%;
}
.titulo
{
    width: 20%;
}
.titulo .el_titulo
{
    font-weight: bold;
}
.titulo .fragmento
{
    color: #333333;
}
.busqueda-fragmento
{
    background-color:#f8ebcb;
}
.fecha
{
    width: 8%;
}
.organismos
{
    line-height: 100%;
    margin-bottom: 0.6em;
}
.montos
{
    width: 15%;
    line-height: 100%;
    margin-bottom: 0.6em;
}
.referencias
{
    width: 15%;
    border-radius: 2px;
    color: #444444;
    cursor:pointer;
    padding: 5px 0;
}
.referencias 
{
    div
    {
        a
        {
            margin-top: 4px;
            color: #444444;
            text-decoration: none;
            background-color: rgba(0,180,255,0.2);
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            margin-right: 5px;
        
            &:hover
            {
                background-color: rgba(0,180,255,1);
                color: white !important;
                text-decoration: none;
            }
        }
    }
}